main {
    width: 40%;
    margin: 0 auto;
}

form {
    margin: 40px auto;
    width: 100%;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}

.campo-texto {
    display: block;
    margin-bottom: 20px;
    padding: 10px 15px;
    width: 100%;

    border: 2px solid #00695c;
}

.campo-dropdown{
    -webkit-appearance: inherit;
    -moz-appearance: inherit;
    appearance: inherit;
    width: 50%;
    padding: 10px;
    border: 2px solid  #00695c;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}


.campo-dropdown option:checked{
    color: #00796b;
    font-weight: bold;
}

.campo-checkbox{
    margin: 20px 0;
}

.seccao{
    margin-top: 25px;
}

.botao-enviar{
    width: 100%;
    padding: 10px;
    background-color: #00796b;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
}

.botao-enviar{
    width: 100%;
    padding: 10px;
    background-color: #00897b;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    transition: 0.5s all;
}

.botao-enviar:hover{
    background-color: #00695c;
    cursor: pointer;
    transform: scale(1.01);
}

.botao-enviar:active{
    background-color: #00897b;
    transition: 0.1s background-color;
}

table{
    margin: 20px auto 40px;
}

td, th {
    border: 2px solid #00695c;
    padding: 8px 15px;
}

thead{
    background: #e0f2f1;
    font-weight: bold;
    text-align: center;
}