.produtos {
	width: 70%;
	margin: 0 auto;
	padding: 50px 0;
	vertical-align: top;
}

.produtos li {
	display: inline-block;
	text-align: center;
	width: 30%;	
	vertical-align: top;
	margin: 0 1.5%;
	padding: 40px 20px;
	box-sizing: border-box;
	border: 3px solid #009688;
	border-radius: 3%;
}

.produtos li:hover{
	border-color: #80cbc4;

}
.produtos li:active{
	border-color: #00695c;
}

.produtos li:hover h2{
	font-size: 34px;
	
}

.produtos h2 {
	font-size: 30px;
	font-weight: bold;
}

.produto-descricao{
	font-size: 18px;
}

.produto-preco {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;

}